##ignore this file##
/target/ 
/lib/
/log/
/.mvn/
.classpath
.project
.settings 
mvnw
mvnw.cmd     
 ##filter databfile、sln file##
*.mdb  
*.ldb  
*.sln    
##class file##
*.com  
*.class  
*.dll  
*.exe  
*.o  
*.so  
# compression file
*.7z  
*.dmg  
*.gz  
*.iso  
*.jar  
