body div {
    margin: 0;
}


/*瀵艰埅鏉�*/

.nav {
    width: 100%;
    height: 80px;
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: white;
}

.navContainer {
    width: 80%;
    height: inherit;
    /*    border: solid 1px red;*/
    display: flex;
}

.navimg {
    width: 200px;
    /*    border: solid 1px black;*/
    height: inherit;
}

.navimg a {
    width: 120px;
    height: 80px;
    /*    border: solid 1px blue;*/
    display: block;
    cursor: pointer;
}

.navimg img {
    width: 120px;
    height: 60px;
    margin-top: 10px;
}

.menu-ul {
    /*border: solid 1px blue;*/
    display: flex;
}

.menu-first-li {
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: grey;
}

.menu-second-li {
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
}

.menu-ul a:hover {
    color: black;
}

.menu-ul a {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.name {
    position:   relative;   
    left:   -500px;
}

.fileclass {
    margin-bottom: 50px;
}
/*
*姝ｆ枃**/
#img {
    width:100px;
}
.mainContainer {
    margin-top: 80px;
    border: solid 1px black;
    height: 800px;
    background-color: rgb(245, 127, 23);
}

.mainText {
    /*border: solid 1px black;*/
    height: inherit;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.mainTextLeft {
    /*border: solid 1px blue;*/
    height: inherit;
    width: 58%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Container {
    width: 100%;
    height: 100%;
    background-color: white;
}

.mainTextRight {
    /*border: solid 1px green;*/
    height: inherit;
    width: 28%;
    text-align: center;
}

.ul-list {
    /*border: solid 1px blue;*/
    display: flex;
    list-style: none;
    margin-left: -40px;
}

.ul-list a {
    text-decoration: none;
}

.newJob {
    position: relative;
    top: 60px;
    /*border: solid 1px black;*/
    background-color: white;
    width: 100%;
    height: 450px;
}

.jobName {
    display: flex;
    height: 40px;
    line-height: 40px;
}

.jobName p {
    margin: 0;

}

.jobName span {
    margin-left: 20px;
    font-weight: bold;
    color: grey;
}

.warnTopic {
    color: rgb(245, 127, 23);
    font-weight: bold;
}

.rightTopic {
    height: 50px;
    text-align: left;
    line-height: 50px;
    color: grey;
    font-weight: bold;
    font-size: 20px;
}

.jobInfo {
    display: flex;
    height: 40px;
}

.jobInfo p {
    margin: 0;
    margin-right: 20px;
    color: grey;
}

.jobInfo span {
    margin: 0;
    margin-right: 20px;
    color: grey;
}

.warnTopic {
    color: rgb(245, 127, 23);
    font-weight: bold;
}

.time {
    color: grey;
    position: relative;
    right: -155px;
}

.jobItem {
    /*border:solid 1px blue;*/
    height: 80px;
}

.jobItemLine {
    background-color: grey;
}

.jobRequire {
    text-align: left;
}

p {
    text-align: left;
    margin: 0;
}

.firstBtn {
    background-color: #35b5ff;
    margin-left: -510px;
    margin-top: 20px;
    height: 30px;
    /*border: solid #35b5ff 1px;*/
}

.secBtn {
    background-color: #35b5ff;
    /*border: solid #35b5ff 1px;*/
    height: 30px;
}


/*涓昏鍐呭閮ㄥ垎*/

.midContainer {
    width: 80%;
    margin: 0 auto;
    /*border: solid black 1px;*/
}

.topPart {
    width: 100%;
    height: 50%;
    /*border: solid blue 1px;*/
    display: flex;
}

.bottomPart {
    width: 100%;
    height: 50%;
    /*border: solid red 1px;*/
}

.top-left {
    width: 80%;
    height: 100%;
    /*border: solid black 1px;*/
}

.top-right {
    width: 18%;
    height: 100%;
    /*border: solid yellow 1px;*/
}

.bottom-left {
    width: 80%;
    height: 100%;
    /*border: solid black 1px;*/
}

.bottom-right {
    width: 18%;
    height: 100%;
    /*border: solid yellow 1px;*/
}

.subTopic {
    text-align: left;
    font-size: 12px;
    /*border: solid 1px black;*/
}

.subFile {
    height: 40%;
}

.subTitle {
    font-size: 10px;
}

.subCommit {
    font-size: 10px;
    color: grey;
}

.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: #dddfe3;
    color: #787e91;
    width: 280px;
    height:35px;
    line-height: 35px;
    cursor: pointer;
    left:-80px;
}

.fileinput-button input {
	display: none;
    position: absolute;
    right: 0px;
    top: 0px;
}
/*涓汉淇℃伅閮ㄥ垎/**/
.inputZone {
	box-sizing: border-box;
	/*border:solid 1px #fabb00;*/
	width:100%;
	height: 200px;
}
.inputBox {
	box-sizing: border-box;
	/*border:solid 1px #fabb11;*/
	width:48%;
	height: 100px;	
	float: left;
}
.pinfoInput {
	height: 30px;
    position: relative;
    left: -20px;
    bottom: -20px;
    box-sizing: border-box;
    border: solid 1px grey;
    width: 80%;
 }

.inputBox span {
	font-size: 15px;
	font-family: Microsoft Yahei;
	position: relative;
    left: -80px;
    bottom: -20px;
}
.subDiv {
	width:100%;
	height:50px;
	/*border:solid 1px red;*/
}
.sbmitJobBtn {
	height: 35px;
	background-color: #35b5ff;
	color: white;
	margin-top:20px;
	border:solid 1px #35b5ff;
    cursor: pointer;    
}
.hrline {
	margin: 0;
	width:1px;
	height: 25px;
	background-color: #f57f17;
}
.block div {
	/*border:solid 1px black;*/
	text-align: left;
}
.block {
	display: flex;
	height: 25px;
}
.enterBox {
	border: solid 1px grey;
    width: 70px;
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}